<div>
  <h1 class="ml-3">Turi Quotes</h1>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div class="mb-3" *ngFor='let quote of quotes; let i = index'>
        <div>
          <div>
            <h4 id={{i}} class="ml-3" appHighlight>
              {{quote.name}}
            </h4>
            <button class="ml-5" (click)="quote.upvotes = quote.upvotes + 1">Upvote<i class="fa fa-thumbs-up"></i> {{quote.upvotes}}
            </button>
            <button class="ml-3" (click)="quote.downvotes = quote.downvotes + 1">Downvote<i class="fa fa-thumbs-down"></i>
              {{quote.downvotes}}</button>            
          </div>
          
          <div>
            <button (click)='toggleDetails(i)'>Toggle Details</button>
          </div>
        </div>
        <div *ngIf='quote.showDetails'>
          <app-quote-details [quote]='quote' (isDelete)='deleteQuote($event,i)'>
          </app-quote-details>
        </div>
      </div>
    </div>
  </div>
</div>
