<div >
  <ng-progress></ng-progress>  
  <div class="jumbotron">
    <blockquote class="blockquote lead text-center">
      <p class="mb-0">{{quote.quote}}</p>
      <footer class="blockquote-footer"><cite>{{quote.author}}</cite></footer>
    </blockquote>
  </div>  
  <div class="row ml-5">
    <div class="col-md-6">
        <div class="mb-3"  *ngFor='let quote of quotes; let i = index'>
          <div>
              <h4 id={{i}} (click)='toggleDetails(i)'>
                  {{quote.name}} 
                </h4>
                <h6 id={{i}} *ngIf="i == quotesIndex; else dontHighlight" appHighlight>{{quote.author}}</h6>
            <div style="display: flex">                            
                    <button class="btn btn-warning" (click)=upvotes(i) (click) ="calculateHighestVotes()">Likes {{quote.upvotes}}</button> 
                    <button class="btn btn-danger"(click)="quote.downvotes = quote.downvotes + 1">Dislikes {{quote.downvotes}}</button>
                    <button class="btn btn-outline-primary" (click)='toggleDetails(i)'>Toggle Details</button>
                    <br>
            </div>

                
          </div>            
          <div *ngIf='quote.showDetails'>
              <app-quote-details [quote]='quote' (isDelete)='deleteQuote($event,i)'></app-quote-details>
          </div>
        </div>
    </div>
    <div class="col-md-6">
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
  </div>
  <hr>
  <div class="row ml-5">
    <blockquote class="blockquote lead text-center">
      <p class="mb-0">Have fun creating Awesome Quotes and liking and disliking</p>
      <footer class="blockquote-footer"><cite>The Turi Way Ltd.</cite></footer>
    </blockquote>
  </div> 
</div>
